{
  "env": {
    "commonjs": true,
    "es2020": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "json",
    "unicorn",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 11
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}